data/22_pos6_angle0_e26_ch32/22_pos6_angle0_e26_ch32.bin_0002
data/
a/
runs/
src/read
RootRunlist
threadcounter.txt
src/mergeROOTFiles
mergeROOTFiles
RootRunlist.txt
config.txt
save/
redis-stable/
redis-stable.tar.gz
dump.rdb
.vs/
.vscode/
WaveCatcher/
demo.png
include/
rootFiles_done/
src/makeIntegralsPDF

RootReader2.sh
/unused_stuff
/src/AngularDistribution.sh
/src/MeanAngles.cpp
/src/MeanAngles.sh
/src/AngularDistribution.cpp
/variablesRead.txt
/analysisPath.txt
/irgendwasfestes.sh
/irgendwasfestes.bash
/src/PhotonCountDistribution.cpp
/src/PhotonCountDistribution.sh
/src/analysisPath.txt.txt
/src/AngularDistribution.cpp
/src/AngularDistribution.sh
/src/Baselines.txt
/src/CalibrationValues.txt
/src/CorrectionValues.txt
/src/CorrectionValuesFormated.txt
/src/FWValues.txt
/src/IntegrationWindows.txt
/src/MeanAngles.cpp
/src/MeanAngles.sh
/src/PercentageValues.txt
/src/PhotonCountDistribution
src/PlastScintPlots.cpp
src/meanAnglePlots
src/makeIntegralsPDF
src/makeIntegralsPDF


/*.png
/*.root
