ArrivalTimesAnalysis/Plots/
ArrivalTimesAnalysis/rootfiles/
Baseline/BL_histograms/
DarkCounts/DCRPlots/
DarkCounts/save/Old/Plots_Save/
DarkCounts/save/Old/
EnergyAnalysis/Plots/
GainFit/calib_histograms/
Kalibration/Auswertung/baseline_histograms/
Kalibration/Auswertung/calib_histograms/
Kalibration/Auswertung/RAW (ohne Calib, mit BL)/
Kalibration/cal_fit_routine/calib_histograms/
Kalibration/Mai2019Save/baseline_histograms/
Kalibration/Mai2019Save/
Kalibration/Reading/data/
Kalibration/Reading/runs/
Kalibration/Reading/
*.root
*.bmp
*.png
*.psd
ArrivalTimesAnalysis/Debug/
SumAnalysis/sumfile
pandas/
LightYield/.vscode/settings.json
MaskAnalysis/maskfile
Kalibration/Auswertung/baseline_September2019.tar
Kalibration/Auswertung/.vscode/settings.json
Kalibration/Auswertung/MaskAnalysis/.vscode/settings.json
Kalibration/cal_fit_routine/.DS_Store
Kalibration/cal_fit_routine/fit_amp
Kalibration/cal_fit_routine/fit_charge
LightYield/pe_dist
.vscode/settings.json
Baseline/Baselines.txt
DarkCounts/Anleitung.txt
EnergyAnalysis/energyAnalysisWOM
GainFit/.vscode/settings.json
GainFit/save/Gain.zip
Kalibration/Anleitung.txt
Kalibration/cal_fit_routine_2.zip
Kalibration/Changes.txt
Kalibration/Info.txt
Kalibration/Auswertung/src/calibration_amp.txt
Kalibration/Auswertung/src/calibration_charge.txt
OscillationAnalysis/percentage_histograms/102_calib_vb58_tune84_pcbc/102_calib_vb58_tune84_pcbc_IntegralCorrection.txt
OscillationAnalysis/percentage_histograms/104_calib_vb58_tune85_pcbc/104_calib_vb58_tune85_pcbc_IntegralCorrection.txt
OscillationAnalysis/percentage_histograms/
*.pdf
DarkCounts/DCRPlots.rar
IntegrationWindowAnalysis/More/IntegrationWindowPlots.rar
